cs231n-venv/bin
cs231n-venv/lib
cs231n-venv/include
cs231n-venv/etc
cs231n-venv/share
cs231n-venv/lib64
.ipynb_checkpoints/
cs231n-venv/assignment1/cs231n/datasets/cifar-10-batches-py
cs231n-venv/assignment1/.ipynb_checkpoints/
